<% layout('layouts/boilerplate.ejs') %>

<div class="container-fluid">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= tickDetail.title %></h5>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= tickDetail.owners %></h6>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= tickDetail.companies %></h6>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= tickDetail.customers %></h6>
                  <h6 class="card-subtitle mb-2 text-body-secondary"><%= tickDetail.ticketStatus %></h6>
                  
                  <p class="card-text"><%= tickDetail.description %></p>
                  
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>